$theme-colors: (
  "primary": #00e0ff,
);

$body-bg: #202020;

@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";

// main {
//   height: ;
// }

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";

  .header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: auto;
    grid-area: footer;
  }
}

.min-h-100vh {
  min-height: 100vh;
}

.h-100vh {
  height: 100vh;
}

@import "./styles/home";
@import "./styles/chat";
