.chat-container {
  width: 100%;
  height: max-content;
  .row {
    height: 85vh;
    border: 1px solid;
  }
}

.chat {
  &-box {
    background-color: lighten($body-bg, $amount: 3);
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .messages {
      padding: 5% 0;
      overflow: auto;
      flex: auto;
    }

    & .message-container {
      & .message-from {
        display: flex;
        align-items: center;
        letter-spacing: 0.3px;
      }

      & .message-box {
        background-color: $body-bg;
        min-width: 20%;
        text-align: left;
        max-width: 80%;
      }

      &.current-user {
        .message-box {
          background-color: darken($primary, $amount: 0);
        }
      }
    }
  }

  &-form {
    height: 10%;
    display: flex;
    background-color: lighten($body-bg, $amount: 6);
    justify-content: center;
    gap: 0.4rem;

    form {
      flex: 1;
      gap: 0.4rem;
      display: flex;
    }

    .chat-input {
      border: none;
      border-radius: 0px;
      background-color: lighten($body-bg, $amount: 1);
      color: $gray-500;
    }
  }
}
